frigate/plate_detectors/alpr/LPRnet/weight/weight_tensorflow/LPRnet_steps515000_loss_1.729.ckpt.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
frigate/plate_detectors/alpr/LPRnet/weight/weight_tensorflow/LPRnet_steps515000_loss_1.729.ckpt.index filter=lfs diff=lfs merge=lfs -text
frigate/plate_detectors/alpr/LPRnet/weight/weight_tensorflow/LPRnet_steps515000_loss_1.729.ckpt.meta filter=lfs diff=lfs merge=lfs -text
frigate/plate_detectors/alpr/retina_plate/weight/LP_detect_92.pth filter=lfs diff=lfs merge=lfs -text
frigate/plate_detectors/alpr/retina_plate/weight/Retina_Plate_480_850.onnx filter=lfs diff=lfs merge=lfs -text
frigate/plate_detectors/alpr/retina_plate/weight/Retina_Plate_480_850_quantized.dlc filter=lfs diff=lfs merge=lfs -text
frigate/plate_detectors/alpr/retina_plate/weight/Retina_Plate_480_850_simplied.dlc filter=lfs diff=lfs merge=lfs -text
frigate/plate_detectors/alpr/retina_plate/weight/Retina_Plate_480_850_simplied.onnx filter=lfs diff=lfs merge=lfs -text
frigate/plate_detectors/alpr/retina_plate/weight/Retina_Plate_dynamix_size.onnx filter=lfs diff=lfs merge=lfs -text
